<div class="info-1">
  <div class="doctor-introduction">
    <h2>Meet Our Trusted Medical Professionals</h2>
    <p>At <%= @clinic.name %>, we connect you with highly qualified and experienced doctors dedicated to providing top-quality healthcare.
    <p>Our team of professionals specializes in various medical fields, ensuring you receive the care and expertise you need.</p>

    <p>Browse our list of doctors below to find the right specialist for you.</p>
    <p>Whether you need a routine check-up, a consultation, or specialized treatment, our doctors are here to help.</p>
  </div>
  <div class="doctor-banner-container">
    <div class="doctor-banner"></div>
    <div class="info-1-card">
      <%= render "doctor_card" %>
      <%= render "doctor_card" %>
      <%= render "doctor_card" %>
      <%= render "doctor_card" %>
    </div>
  </div>

</div>
