<h1 class="text-center my-4">Find a Clinic</h1>

<div class="container">
  <div class="row">
    <% @clinics.each do |clinic| %>
      <div class="col-md-4">
        <%= link_to clinic_path(clinic) do %>
          <div class="doctor-card card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1pQB9NtSvgyPSxOBJf3KpihyyVtiTHzuFOg&s" class="card-img-top doctor-image" alt="Burger king">
            <div class="card-body">
              <h2 class="h5 font-weight-bold"><%= clinic.name %></h2>
              <p class="text-muted"><strong><%= clinic.name %></strong></p>
              <p class="text-muted"><%= clinic.address %></p>
              <%clinic_ratings = []
                doctors = Doctor.where(:clinic_id == clinic)
                doctors.each do |doctor|
                  doctor_ratings = []
                  reviews = Review.where(:doctor_id == doctor)
                  reviews.map do |review|
                    doctor_ratings << review.rating
                  end
                  clinic_ratings << (doctor_ratings.sum / doctor_ratings.length)
                end
                rating = clinic_ratings.sum / clinic_ratings.length %>
              <p class="text-muted">Patient satisfaction - <%= rating %>/5</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
