<h1 class="text-center my-4">Find a Clinic</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <% @clinics.each do |clinic| %>
      <div class="col-md-4">
        <%= link_to clinic_path(clinic) do %>
          <div class="doctor-card card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1pQB9NtSvgyPSxOBJf3KpihyyVtiTHzuFOg&s" class="card-img-top doctor-image" alt="Burger king">
            <div class="card-body">
              <h2 class="h5 font-weight-bold"><%= clinic.name %></h2>
              <p class="text-muted"><strong><%= clinic.name %></strong></p>
              <p class="text-muted"><%= clinic.address %></p>
              <% unless clinic.average_clinic_rating == "unrated" %>
                <p class="text-muted">Patient satisfaction - <%= clinic.average_clinic_rating %>/5 </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
