<div class="profile-card-container">

  <div class="profile-card-flex">
    <div class="profile-card-info">
      <h1><i class="fa-solid fa-user"></i> <%= @profile.first_name %> <%= @profile.last_name %></h1>
      <h3><i class="fa-solid fa-location-dot"></i> <%= @profile.address %></h3>
      <h3><i class="fa-regular fa-calendar"></i> <%= @profile.dob.strftime('%B/%d/%Y') %> </h3>
    </div>


      <div class="profile-display-picture">
        <% if current_user.profile.present? && current_user.profile.photo.attached? %>
          <%= cl_image_tag current_user.profile.photo.key, class: "img-fluid rounded" %>
        <% else %>
          <%= image_tag "pp.png", class: "img-fluid rounded" %>
        <% end %>
      </div>

  </div>



  <div class="profile-card-extras">
    <div class="clinic-card-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-github"></i>
    </div>
  </div>

</div>








<div class="profile-options" data-controller="toggle">
  <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary m-3" %>
  <button class="btn btn-primary" data-action="click->toggle#fire">Edit Personal Details</button>

  <div class="profile-form-container d-none" data-toggle-target="toggleableElement">
    <div class="profile-form-flex">
      <div class="profile-form-info" style="margin-right: 60px" >
        <%= simple_form_for(@profile) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :address %>
          <%= f.input :dob %>
          <%= f.input :language_ids, collection: Language.all.pluck(:name, :id), as: :check_boxes, label: "Languages you speak" %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Go back", root_path, class: "btn btn-primary m-3" %>
