<div class="col d-flex justify-content-center">
  <div class="clinic-card card shadow-sm">
    <% if clinic.photo.attached? %>
      <%= cl_image_tag clinic.photo.key,
            width: 300,
            height: 300,
            crop: "thumb",
            gravity: "center",
            fetch_format: :auto,
            quality: "auto:best",
            class: "clinic-image" %>
    <% else %>
      <%= image_tag "clinic-placeholder.jpg", width: 300, height: 300, class: "clinic-image", alt: "Clinic image" %>
    <% end %>

    <div class="card-body">
      <h5 class="clinic-name">
        <%= link_to clinic.name, clinic_path(clinic), class: "clinic-link" %>
      </h5>


      <p class="text-muted"><%= clinic.address %></p>

      <% unless clinic.average_clinic_rating == "unrated" %>
        <%= render_stars(clinic.average_clinic_rating.to_f) %>
      <% end %>


      <% languages = clinic.doctors.map(&:languages).flatten.uniq %>
      <% if languages.any? %>
        <div class="mb-2">
          <% languages.each do |language| %>
            <span class="me-1"><%= language_flag(language.name) %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
