
<h1 class="text-center my-4">Search Results</h1>




<% if @results.any? %>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <% @results.each do |result| %>
        <% if result.is_a?(Clinic) %>
          <%= render partial: "search/clinic_card", locals: { clinic: result } %>
        <% elsif result.is_a?(Doctor) %>
          <%= render partial: "search/doctor_card", locals: { doctor: result } %>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @results %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= link_to 'Back to search', root_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% else %>
  <p class="text-center mt-5">No results found for "<%= params[:query] %>".</p>
<% end %>
