<h1 class="text-center my-4">Find a Doctor</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <% @doctors.each do |doctor| %>
      <div class="col-md-4">
        <div class="doctor-card card shadow-sm">
          <% if doctor.user.profile.photo.attached? %>
            <%= cl_image_tag doctor.user.profile.photo.key, width: 250, height: 250, crop: "fill", gravity: "auto", class: "card-img-top rounded" %>
          <% else %>
            <%= image_tag "pp.png", width: 250, height: 250, class: "card-img-top rounded", alt: "No photo available" %>
          <% end %>

          <div class="card-body">
            <h5 class="doctor-name"><%= doctor.user.profile.first_name %> <%= doctor.user.profile.last_name %></h5>
            <p class="text-muted"><strong>Specialty:</strong> <%= doctor.specialty %></p>
            <p class="text-muted"><strong>Clinic:</strong> <%= doctor.clinic.present? ? doctor.clinic.name : "No clinic assigned" %></p>
            <% unless doctor.average_doctor_rating == "unrated" %>
              <p class="text-muted">Patient satisfaction - <%= doctor.average_doctor_rating %>/5 </p>
            <% end %>
            <a href="<%= doctor_path(doctor) %>" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
