<div class="container doctor-show">

  <div class="profile-header text-center">
    <img src="https://media.doctolib.com/image/upload/q_auto:eco,f_auto,w_1024,h_700,c_limit/mjjirub3lezeoxmzbqsv.jpg" class="profile-img rounded-circle" alt="Doctor Image">
    <h1 class="doctor-name"><%= @doctor.user.profile.first_name %> <%= @doctor.user.profile.last_name %></h1>
  </div>

  <div class="info-section">
    <h3>Clinics</h3>
    <% if @doctor.clinic.present? %>
      <ul>
        <li><%= @doctor.clinic.name %> - <%= @doctor.clinic.address %></li>
      </ul>
    <% else %>
      <p>This doctor is not assigned to any clinic.</p>
    <% end %>
  </div>

  <div class="info-section">
  <h3>Doctor's Description</h3>

  <p>Dr. <%= @doctor.user.profile.last_name %> has over 10 years of experience in oncology, specializing in patient care and medical research.</p>
</div>


  <div class="info-section">
    <h3>Book an Appointment</h3>
  </div>


  <% unless @reviews == nil %>
    <div class="info-section">
      <h3>Reviews</h3>
      <% @reviews.each do |review| %>
        <p><%= review.rating %>/5</p>
        <p><%= review.content %></p>
      <% end %>
    </div>
  <% end %>

  <div class="info-section">
    <h3>Leave a review</h3>
    <%= simple_form_for [@doctor, @review] do |f| %>
      <%= f.input :rating,
        :collection => %w[1 2 3 4 5] %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
