
<h1 class="text-center my-4">My Appointments</h1>

<div class="container">
  <div class="row">
    <% @appointments.each do |appointment| %>
      <div class="col-md-4">
        <%# <%= link_to doctor_path(appointment.doctor) do %>
          <div class="appointment-card card shadow-sm">
            <div class="card-body">
              <p class="h5 font-weight-bold"><strong>Dr <%= appointment.doctor.user.profile.first_name + " " + appointment.doctor.user.profile.last_name %></strong></p>
              <p class="text-muted"><%= appointment.doctor.clinic.name %> | <%= appointment.doctor.clinic.address %></p>
              <p class="text-muted"><%= appointment.time.strftime("%H:%M") %> | <%= appointment.time.strftime("%m/%d/%Y") %></p>
              <%= form_with model: appointment do |f| %>
                <div class="form-group">
                  <label for="appointment_time">Select Date & Time</label>
                  <%= f.datetime_local_field :time, class: "form-control", required: true %>
                </div>
                <div class="form-group mt-3">
                  <%= f.submit "Reschedule Appointment", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>



              <%= link_to "Cancel", appointment_path(appointment),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to cancel this appointment?"
              }%> </p>
            </div>
          </div>
        <%# <% end %>
      </div>
    <% end %>
  </div>
</div>

