<!DOCTYPE html>
<html>
  <head>
    <title>Medhub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/confetti.css">
  </head>

  <body class="d-flex flex-column min-vh-100" data-controller="hide">
    <% if params[:controller] != "appointments" %>
      <div class="page-divide-external">
    <% else %>
      <div>
    <% end %>
      <div class="page-divide-internal">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>

        <main class="flex-fill">
          <%= yield %>
        </main>

      </div>
      <% if user_signed_in? && params[:controller] != "appointments" %>
        <%= render "questions/index", :locals => { :@questions => current_user.questions, :@questions => Question.new } %>
      <% end %>
    </div>

  </body>
</html>
